
body{
    margin: 0px;
}
div.background{
    position: relative;
    z-index: -1;
background: linear-gradient(85deg,rgb(53, 52, 52), grey,black);
height: 150px;
}
div.gridbox{
    margin: 15px 4%;
    width: 90%;
    top: 10px;
    position: absolute;
    gap: 20px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 145px 200px auto auto;
    grid-template-areas: 
    "b1 b1"
    "b2 b3"
    "b2 b4"
    "none b4";
}
div.box-on-top-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
div.grid-all-card{
    border: 1px solid lightgray;
    background-color: white;
}
/* selector for grid-box1 */
div.grid-box1{
    grid-area: b1;

}
div.grid-box1.grid-all-card>div>img{
    border-radius: 50px;
}
div.name-box>div {
display: flex;
align-items: center;
}

div.grid-box1.grid-all-card>div>div.name-box>div>h1,p{
    margin: 0px;
}

div.designstion{
    margin-right: 25%;
}
div.designstion>p:nth-child(1){
    margin-bottom: 10px;
}
div.designstion>p>img{
        margin:0px 9px;
}

div.name-box span{
    text-align: center;
    border-radius: 20px;
    background-color: greenyellow;
    height: 24px;
    width: 50px;
}

div.grid-box1.grid-all-card>div>div.btn-box>button{
    border: none;
    width: 112px;
        height: 32px;
        box-shadow: -4px 7px 5px 0px lightgray;
}
div.grid-box1.grid-all-card>div>div.btn-box>button:nth-child(1){
    background-color: white;
}

div.grid-box1.grid-all-card>div>div.btn-box>button:nth-child(2){
    background-color: black;
    color: white;
}
div.grid-box1.grid-all-card>nav{
    height: 45px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    margin: 0px 2px;
}
div.grid-box1.grid-all-card>nav>a>button{
    height:45px;
    border: none;
    background-color: lightgray;
}
div.grid-box1.grid-all-card>nav>a>button:hover{
    border-bottom:5px solid greenyellow ;
}
/* selector for grid-box2 */
div.grid-box2 {
    grid-area: b2;
    padding-right: 8px;
    padding-left: 8px;
}
hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin:0 10px;
    padding:0;
}
body>div.gridbox>div.grid-box2.grid-all-card>p{
    margin: 10px 0;
}
body>div.gridbox>div.grid-box2.grid-all-card>p>strong{
    margin-left: 20px;
}
/* selector for grid-box3 */
div.grid-box3 {
    grid-area: b3;
    /* padding-left: 20px; */
    padding: 5px 0px 5px 20px;
}
#progressbar{
    width: 85%;
        margin-left: 24px;
        height: 30px;
}

/* selector for grid-box4 */
div.grid-box4 {
    grid-area: b4;
    padding-left:20px;
}
.department{
display: flex;
padding: 5px 0px;

}
.team{
    padding-right: 200px;
}
.team1{
    padding-right: 100px;
}

div.last-box img{
    border-radius: 20px;
}

body>div.gridbox>div.grid-box4.grid-all-card>div:nth-child(10)>span:nth-child(2)>img{
    margin-left: 64px;
}