body{
    background: linear-gradient(70deg,rgb(173, 118, 16),rgb(228, 217, 217),green);
    background-attachment: fixed;
    display: flex;
    flex:content;
        height: 330px;
}
div.user{
    margin: auto;
    padding-top: 246px;
    
}
div.username{
    background-color:aliceblue;
    border-radius: 10px;
    border-radius: 15px;
}
/* .login{
    background-color:rgb(73, 73, 236);
} */