
body{
background-image:linear-gradient(to right,rgba(239, 183, 167, 1.00), rgb(223, 96, 96), rgb(83, 83, 212), rgb(146, 43, 220), violet);
}

#btn-size{
        size: 500px;
        color: whitesmoke;
        background-color: rgb(96, 96, 189);
        height: 50px;
        width: 380px;
        border-radius: 15px;
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
                
}
#btn-size:active{
                transform: translateY(6px);
                box-shadow: 0 5px #666;
}


#btn-size:hover{
        background-color: #377be8;
}
#loginbtn{
        color:aliceblue;
        background-color: rgb(96, 96, 189);
        height: 35px;
        width: 150px;
  
}

#loginbtn:active{
        transform: translateY(6px);
                box-shadow: 0 5px #015aeb;
}

#loginbtn:hover{
        background-color: #377be8;

}
.btn-page{
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;
                text-align: center;
                top: 50px;
                padding-top: 250px;
                align-items: normal;
                padding-left: 100px;
}
.loginPop{
 
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 11px 12px 13px 12px rgb(207 207 207);

}


.loginInner{
        position: absolute;
        left: 25%;
        right: 25%;
        top: 25%;
        bottom: 25%;
        margin: auto;
        padding: 30px;
        background-color: white;
        box-shadow: 0px 0px 20px 5px #d02626;

}

.input-type{
                border: 1.5px solid gray;
                border-top-style: none;
                border-left-style: none;
                border-right-style: none;
}

.inner-Text{
        font-family: 'Times New Roman', Times, serif;
}
/* .input-type:hover{
        background-color: rgb(212, 223, 54);
        color:rgb(9, 54, 235)
} */
/*------------------------------------------------------------------ */

.mainPop {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.5);
}

.regPage{
        position: absolute;
        left: 25%;
        right: 25%;
        top: 25%;
        bottom: 25%;
        margin: auto;
        padding: 30px;
        background: white;
        height: 570px;
        gap: 5px;
        box-shadow: 0px 0px 20px 5px #dc4646;
        display: flex;
        flex-direction: column;
        justify-content: center;
}

.wrong-btn{
       float: right;
       border-radius: 50px;
}
.wrong-btn-reg{
        float: left;
        border-radius: 50px;
        height:40px;
        width: 40px;
}
.wrong-btn-reg:hover {
background-color: hwb(0deg 32% 20%);
}
.wrong-btn:hover{
        background-color: hwb(0deg 32% 20%);
        
}
.wrong-btn:active{
        transform: translateY(8px);
        box-shadow: 0 5px #666;
}
.wrong-btn-reg:active {
        transform: translateY(8px);
        box-shadow: 0 5px #666;
}
.errorMsg{
        color: rgb(189, 52, 52);
}
